// Colors
$basic-white: #FFF;
$basic-white-transparent: rgba(255,255,255,.6);
$basic-black: #555759;
$basic-black-lighter: #747678;
$basic-grey: #ecebeb;
$brand-orange: #ff8400;
$brand-orange-dark: #994f00;
$button-inactive: #dadada;
$button-inactive-dark: #b5b4b4;

